// Page Variables
$backgroundColor: #EEEEEE;
$offBackground: #FFFFFF;
$primaryColor: #00ACC1;
$lightColor: #5DDEF4;
$darkColor: #007C91;
$fontColor: #000000; // Change to dark gray
$focusFont: 'Alegreya', serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $backgroundColor;
    line-height: 200%;
    padding: 6px 20px 30px;
}
h2 {
    font-family: $focusFont !important;
}
a {
    color: $primaryColor !important;
    &:hover {
        text-decoration: none !important;
        color: $darkColor !important;
    }
}
.icon {
    margin-right: 5px;
}
.app {
    font-size: 16px;
}
.header_text {
    text-align: center;
    font-size: 32px;
    color: $primaryColor;
}
.header_div {
    border-bottom: solid 2px gray;
}
.footer {
    border-top: solid 2px gray;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}
.active_link {
    color: $darkColor !important;
}