// Page Variables
$backgroundColor: #EEEEEE;
$offBackground: #FFFFFF;
$primaryColor: #00ACC1;
$lightColor: #5DDEF4;
$darkColor: #007C91;
$fontColor: #000000; // Change to dark gray
$primaryFont: 'Roboto', sans-serif;
$focusFont: 'Alegreya', serif;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: $backgroundColor;
    font-family: $primaryFont;
    line-height: 200%;
    padding: 6px 20px 30px;
}
h2 {
    font-family: $focusFont;
}
.app {
    font-size: 16px;
}
.header_text {
    text-align: center;
    font-size: 32px;
    color: #00ACC1;
}
.header_div {
    border-bottom: solid 2px gray;
}
.footer {
    border-top: solid 2px gray;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}